---
import { getCollection } from 'astro:content';

// Get all entries from the `work` collection
const workEntries = await getCollection('work');
---

<section class="work section" id="work">
  <h2 class="section-title">Work</h2>
  <div class="work__container bd-grid">
    {workEntries.map(entry => (
      <div class="work__item">
        <img src={entry.data.image} alt={entry.data.title} class="work__img" />
        <h3>{entry.data.title}</h3>
        <p>{entry.data.description}</p>
      </div>
    ))}
  </div>
</section>

<style>
  .work {
    padding-top: 2rem; 
  }
  .section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
  }

  .section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }

  .work__container {
    gap: 2rem;  
    max-width: 1024px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  }

  .work__item {
    overflow: hidden;
    border-radius: 0.5rem; 
  }

  .work__img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;  
  }

  .work__img:hover {
    transform: scale(1.1); 
  }
  .bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
</style>
